[submodule "3rdparty/ezlibs"]
	path = 3rdparty/ezlibs
	url = https://github.com/aiekick/EzLibs.git
	branch = master
[submodule "3rdparty/ImGuiPack"]
	path = 3rdparty/imguipack
	url = https://github.com/aiekick/ImGuiPack.git
	branch = master
[submodule "3rdparty/BuildInc"]
	path = 3rdparty/BuildInc
	url = https://github.com/aiekick/BuildInc.git
	branch = master
[submodule "3rdparty/glad"]
	path = 3rdparty/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
