# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/build
/bin/debug
/bin
/bin/imgui.ini
/bin/config.xml
/samples
/tools/SQLiteSpy.db3
/tools/debug.log
/tools/imgui.ini
/tools
/res/appicon.aps
/.cache
/VERSION
